body {
    font-family: Arial, sans-serif;
}

.container-fluid {
    color: #F0F8FF;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.carousel-caption h1 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 10px;
}

.carousel-caption p {
    font-size: 1.5em;
}

footer {
    background-color: #000;
    bottom:0;
    left:0;
    right:0;
   
    text-align:center;
   
}

/* Faz com que o conteúdo principal ocupe todo o espaço disponível */
html, body {
    height: 100%;
}
.content-wrap {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1;
}

.flag-container {
    display: flex;
    gap: 10px;
    margin: 20px;
}
.flag {
    width: 50px;
    cursor: pointer;
}

.navbar ul {
    text-align: center;
  }



.navbar a:hover {
    text-decoration: black;
  }

  

/* CSS personalizado para ajustar a posição das legendas do carrossel */
.carousel-caption {
    bottom: 65%; /* Ajuste este valor para mover a legenda para cima ou para baixo */
}

/* Estilo para cards com tamanho fixo */
.fixed-card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Estilo para imagens dentro dos cards */
.fixed-image {
    width: 100%;
    height: 200px; /* Define uma altura fixa para as imagens */
    object-fit: cover; /* Garante que a imagem preencha o espaço sem distorcer */
}

/* Garante que o corpo do card preencha o espaço restante */
.fixed-card .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Adicionar espaçamento adicional ao formulário de contato */
.form-label {
    margin-bottom: 10px;
}

.form-control {
    margin-bottom: 15px;
}

/* Adicionar espaçamento ao mapa */
.map-responsive {
    margin-top: 20px;
}




