body {
    font-family: Arial, sans-serif;
    
}

.container-fluid {
    color: #fff0f2;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.carousel-caption h1 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 10px;
}

.carousel-caption p {
    font-size: 1.5em;
}

footer {
    background-color: #000;
    bottom:0;
    left:0;
    right:0;
   
    text-align:center;
   
}

/* Faz com que o conteúdo principal ocupe todo o espaço disponível */
html, body {
    height: 100%;
}
.content-wrap {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1;
}

.flag-container {
    display: flex;
    gap: 10px;
    margin: 20px;
}
.flag {
    width: 50px;
    cursor: pointer;
}




.navbar ul a {
    text-align: left;
  }


/*
.navbar a:hover {
    text-decoration: none;
    
  }
*/
  

/* CSS personalizado para ajustar a posição das legendas do carrossel */
.carousel-caption {
    bottom: 65%; /* Ajuste este valor para mover a legenda para cima ou para baixo */
}

/* Estilo para cards com tamanho fixo */
.fixed-card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Estilo para imagens dentro dos cards */
.fixed-image {
    width: 100%;
    height: 200px; /* Define uma altura fixa para as imagens */
    object-fit: cover; /* Garante que a imagem preencha o espaço sem distorcer */
}

/* Garante que o corpo do card preencha o espaço restante */
.fixed-card .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Adicionar espaçamento adicional ao formulário de contato */
.form-label {
    margin-bottom: 10px;
}

.form-control {
    margin-bottom: 15px;
}

/* Adicionar espaçamento ao mapa */
.map-responsive {
    margin-top: 20px;
}

/* */
/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}

.navbar, footer {
    background-color: #66CDAA;
    color: white;
}

.nav-link, .btn {
    transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-link:hover, .btn:hover {
    color: #000;
    /*background-color: #ddd;*/
}


.dropdown-flag{
    display: flex;
    justify-content: flex-end;
    margin-right: 15%;
    background-color: transparent;
    background: transparent !important;
  
}

/* Remove o fundo e as bordas do dropdown */
.dropdown-menu a {
    background-color: rgba(0, 0, 0, 0.5);
    border: none !important;
    color: #fff0f2;
   
}

.dropdown-menu {
    background: transparent !important;
    border: none !important;
    color: white !important;
    font-weight: bold !important;    
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}










